db.sqlite3
bemestarplusapp/__pycache__/*
/apps/annotations/__pycache__/*
/apps/annotations/migrations/*
/apps/comments/__pycache__/*
/apps/comments/migrations/*
/apps/accounts/__pycache__/*
/apps/accounts/migrations/*
/apps/core/__pycache__/*
/apps/core/migrations/*
/apps/prescriptions/__pycache__/*
/apps/prescriptions/migrations/*