{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
    Adicionar Anotação - {{ block.super }}
{% endblock title %}

{% block body %}
    <div class="container">
        <br />
        <h5><b>Nova Anotação</b></h5>

        <!-- Exibir Mensagens -->
        {% if messages %}
            <div class="alerts">
                {% for message in messages %}
                    <div class="alert alert-warning" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.description.id_for_label }}">Descrição</label>
                        {{ form.description|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.day_state.id_for_label }}">Estado do Dia</label>
                        {{ form.day_state|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.emotional_state.id_for_label }}">Estado Emocional</label>
                        {{ form.emotional_state|add_class:"form-control" }}
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>       
                </form>
            </div>
        </div>
    </div>
{% endblock body %}