{% extends 'base.html' %}

{% block title %}

    Anotações - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Anotações</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <br />
                    <a href="{% url 'annotations:add_annotation' %}">Adicionar nova Anotação</a>
                <br />
                <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data</th>
                    <th scope="col">Descricao</th>
                    <th scope="col"></th>
                    <th scope="col"></th>                    
                    </tr>
                </thead>
                <tbody>
                    {% for annotation in annotations %}
                        <tr>
                            <th scope="row">{{ annotation.id }}</th>
                            <td>{{ annotation.datetime }}</td>
                            <td>{{ annotation.description }}</td>
                            <td>
                                {% if not user.is_superuser and not annotation.is_locked %}
                                    <a href="{% url 'annotations:edit_annotation' annotation.id %}" class="btn btn-primary btn-sm">Editar</a>
                                {% endif %}
                            </td>                          
                            <td>
                                {% if user.is_superuser %}
                                <a href="{% url 'annotations:add_annotation_comment' id_annotation=annotation.id %}" class="btn btn-primary btn-sm">Comentário</a>
                                {% endif %}
                            </td>
                            <td>
                                {% if user.is_superuser %}
                                    <a href="{% url 'annotations:edit_annotation_comment' annotation.id %}" class="btn btn-primary btn-sm">Editar</a>
                                {% endif %}
                            </td>                              
                        </tr>
                        <tr>
                            <td colspan="5"> 
                                <h6>Comentários:</h6> 
                                {% for comment in annotation.comments.all %} 
                                    <p>{{ comment.comment }}</p> 
                                {% empty %} 
                                    <p>Sem comentário.</p> 
                                {% endfor %} 
                            </td> 
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}